body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 20px!important;
	padding: 0!important;
	color: var(--vscode-editor-foreground);
	background-color: var(--vscode-editor-background);
}

