.conversationsListContainer {
	margin-top: 10px;
}

.chatContainer {
	display: flex;
	margin-bottom: 10px;
	border-radius: 5px;
	overflow: hidden;
	transition: box-shadow 0.4s;
}

.chatContainer:hover {
	box-shadow: 0 0 2em 0.2em var(--vscode-button-hoverBackground);
}

.openConversationButton {
	display: block;
	padding: 10px;
	width: 100%;
	background-color: var(--vscode-dropdown-background);
	transition: background-color 0.2s, width 0.3s ease;
	color: var(--vscode-button-foreground);
	border: none;
	border-radius: 0;
	cursor: pointer;
	box-shadow: 0 0 0 0 none;
}

.deleteChatButton {
	display: none;
	width: 0%;
	background-color: var(--vscode-errorForeground);
	color: var(--vscode-button-background);
	border: none;
	border-radius: 0;
	cursor: pointer;
	transition: width 0.3s ease, background-color 0.2s;
	justify-content: center;
	align-items: center;
	padding: 10px;
	overflow: hidden;
}

.chatContainer:hover .openConversationButton {
	width: 75%;
}

.chatContainer:hover .deleteChatButton {
	display: flex;
	width: 25%;
}

.deleteChatButton:hover {
	background-color: #ff6b6b;
}

.openConversationButton:hover {
	background-color: var(--vscode-button-hoverBackground);
	padding: 15px;
}

.chatContainer:hover .openConversationButtonTopText,
.chatContainer:hover .openConversationButtonBottomText {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
}

.openConversationButton .openConversationButtonTopText,
.openConversationButton .openConversationButtonBottomText {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
}

.openConversationButton .openConversationButtonBottomText {
	font-size: var(--vscode-editor-font-size, 14px) - 2px;
	color: var(--vscode-textPreformat-foreground);
}
