.header {
    display: flex;
    align-items: center;
    height: 3vh;
    background-color: var(--vscode-editor-background);
    /* padding: 5px; */
}

.headerButton {
    width: 3vh;
    height: 3vh;
    font-size: 14px;
    background-color: var(--vscode-dropdown-background);
    border-radius: 5px;
	border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--vscode-editor-foreground);
    text-align: center;
}
.headerButton:hover {
	background-color: var(--vscode-button-hoverBackground); /* Используйте вторичный цвет фона кнопок для отключенного состояния, если доступно */
	color: var(--vscode-button-secondaryForeground); /* Используйте вторичный цвет текста кнопок для отключенного состояния, если доступно */
	cursor: pointer;
	border: none;
}