/* Стили для сообщений, отправленных пользователем */
.userMargin {
	margin-left: auto!important;
	background-color: var(--vscode-dropdown-background);
	color: var(--vscode-button-foreground);
	border-right: 2px solid var(--vscode-focusBorder)!important;
}

/* Стили для сообщений, полученных от других */
.nonuserMargin {
	margin-right: auto!important;
	background-color: var(--vscode-dropdown-background);
	color: var(--vscode-button-foreground);
	border-left: 2px solid var(--vscode-focusBorder)!important;
}