.queryInput {
	font-family: inherit;
	font-size: var(--vscode-editor-font-size);
	width: 100%;
	height: auto;
	min-height: 100px;
	margin-top: 10px;
	padding: 10px;
	box-sizing: border-box;
	background-color: var(--vscode-dropdown-background); /* Цвет фона выпадающего списка может подойти для блока ответа */
	color: var(--vscode-input-foreground); /* Цвет текста ввода */
	border-radius: 5px;
	border: 1px solid var(--vscode-textInput-border);
	resize: none; /* Пользователь не сможет изменять размер */
}